{% extends "layout.html" %}
{% block main %}
        <div class="section">
                <h2>Your registered data</h2>
                <table class="table table-dark">
                <thead class="thead-dark">
                        <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Three last of SN</th>
                        <th>Cie</th>
                        <th>Building</th>
                        <th>Covid question (N)</th>
                        <th>Covid question (N)</th>
                        <th>Covid question (N)</th>
                        <th>Covid question (Y)</th>
                        </tr>
                </thead>
                <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        <tr>
                        <td>{{ table_val[0] }}</td>
                        <td>{{ table_val[1] }}</td>
                        <td>{{ table_val[2] }}</td>
                        <td>{{ table_val[3] }}</td>
                        <td>{{ table_val[4] }}</td>
                        <td>{{ table_val[5] }}</td>
                        <td>{{ table_val[6] }}</td>
                        <td>{{ table_val[7] }}</td>
                        <td>{{ table_val[8] }}</td>                        
                        </tr>
                </tbody>
                </table>
        </div>
        <br>
        <div>
                <form action="{{ table_val[9] }}" method="POST" class="bob1 container-fluid">
                        <input type="submit" class="btn btn-primary" value="SEND IT!">
                </form>
                <br>
                <form action="/make" method ="get" class="bob1 container-fluid">
                        <input type="submit" class="btn btn-primary" value="Make it again">
                </form>
        </div>
        <br>
        <br>
        <h3><a href="{{ table_val[9] }}"><mark>{{ table_val[9] }}</mark></a></h3>
{% endblock %}
